<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final"
        tools:targetApi="31">
        <activity
            android:name=".Admin_Operations"
            android:exported="false" />
        <activity
            android:name=".GoogleAuth"
            android:exported="false" />
        <activity
            android:name=".HistoryPage"
            android:exported="false" />
        <activity
            android:name=".SuretyPage"
            android:exported="false" />
        <activity
            android:name=".JamindarSelect_RequestLoan"
            android:exported="false" />
        <activity
            android:name=".MaxLoan_In_UserPage"
            android:exported="false" />
        <activity
            android:name=".MaxLoan_In_User"
            android:exported="false"
            android:label="@string/title_activity_max_loan_in_user"
            android:theme="@style/Theme.Final" />
        <activity
            android:name=".edit_text_border"
            android:exported="false" />
        <activity
            android:name=".RequestLoan"
            android:exported="false" />
        <activity
            android:name=".Loan_In_UserPage"
            android:exported="false" />
        <activity
            android:name=".HomeUser"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".ActiveLoanUsers"
            android:exported="false" />
        <activity
            android:name=".View_AllUsers"
            android:exported="false" />
        <activity
            android:name=".Update_demo"
            android:exported="false" />
        <activity
            android:name=".UpdateData"
            android:exported="false" />
        <activity
            android:name=".createUser"
            android:exported="false" />
        <activity
            android:name=".AddUser"
            android:exported="false" />
        <activity
            android:name=".AllUsers"
            android:exported="false" />
        <activity
            android:name=".AdminOperations"
            android:exported="false"
            android:label="@string/title_activity_admin_operations"
            android:theme="@style/Theme.Final" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>